/*

LaraShop CSS

*/

h1
{
font-family: 'Vidaloka', serif;
text-align:center;
font-weight:normal;
color:#444;
}

.maintitle{
display:block;
font-size:72px;
}

.container
{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.categoryBox,.sortBox
{
	overflow: hidden;
	width: 40%;
	margin: 20px 4% auto;
	text-align: center;
}

.categoryBox select,.sortBox select
{
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.categoryBox select::-ms-expand,.sortBox select::-ms-expand
{
    display: none;
}

.categoryBox.cp_sl01,.sortBox.cp_sl01
{
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}

.categoryBox.cp_sl01::before,.sortBox.cp_sl01::before
{
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}

.categoryBox.cp_sl01 select,.sortBox.cp_sl01 select
{
	padding: 8px 38px 8px 8px;
	color: #666666;
}

.wordsBox
{
	position: relative;
	width: 40%;
	margin: 20px 4% auto;
}

.wordsBox input[type='text']
{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #bbbbbb;
	border-radius: 4px;
}

.textef input[type='text']:focus
{
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.formTitle
{
  display: inline-block;
  background: linear-gradient(transparent 60%, #F8BBD0 60%);
}

.search-button
{
  font-size: 0.8em;
  margin: 20px 0 auto;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FFA500;
  color: #FFF;
  border-bottom: solid 4px #E5620B;
  border-radius: 3px;
}

.search-button:active
{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.error-info
{
  margin: 3px;
  color: red;
  font-size: 12px;
}

.requiredtext
{
  color: red;
}

/*クエリエラー画面*/

.errortext
{
  text-align: center;
  margin: 3% auto;
}

.errorBacktop
{
  text-align: center;
}

/*アイテム詳細画面*/

.itmImg
{
    float: left;
    margin: 0 10px 30px 0;
}

.itemPrice
{
    font-size: 1.5em;
    margin: 10px;
}

.itemDescription
{
    clear:both;
}

.itemDescriptionText
{
    width: 800px;
    word-break: normal;
    line-height:1.5em;
}

h3
{
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

h5
{
    padding: .5em .75em;
    background-color: #f6f6f6;
    border-radius: 6px;
    font-size: 1.2em;
}

.buyBtn
{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.buyBtn:active
{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.cartBtn
{
    float: right;
    margin-right: 40px;
}

.countSelect
{
    margin-bottom: 10px;
}

.countSelect p
{
    font-size: 20px;
}

.itemCountSelect
{
    font-size: 20px;
    width: 60px;
    height: 40px;
}

/*カート画面*/

table
{
  width: 100%;
}

.goods_img
{
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.item_name
{
  width: 50%;
}

.name_item
{
  display: inline-block;
  vertical-align: middle;
}

.item_price
{
  width: 13%;
}

.item_count
{
  width: 19%;
}

.item_total_price
{
  width: 10%;
}

.changeCount
{
  margin-left: 5px;
}

th,td{
  border: solid 1px #aaaaaa;
  padding: 10px;
}

.deleteButton{
 width: 15%;
 border-style: none;
}

.editCount{
    width: 25px;
    margin: 3px;
}

.backtop{
    margin: 20px 0 20px 0;
}

.goodsImage{
    margin: 10px;
    width: 80px;
    height: 80px;
}
